[include mainsail.cfg]
[include timelapse.cfg]
[include config_backup.cfg]
[include cfg/steppers.cfg]
[include cfg/extruder.cfg]
[include cfg/macros.cfg]

[exclude_object]

#####################################################################
#   MCU Definitions
#####################################################################

[mcu]
##  Octopus V1.1 (Motion Controller)
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_22004B001551313133353932-if00
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0
restart_method: command

[mcu sb2209]
##  BTT SB2209 (Toolhead Controller)
canbus_uuid: a69d199d08f7

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             
max_z_velocity: 15          
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Probe & Tap (SB2209)
#####################################################################

[probe]
##  Tap wired to SB2209 PROBE Pin (PB5) needed for TAP (Acti$0
##  If it triggers when open, add ! before the pin (e.g. !sb2209:PB5)
pin: sb2209:gpio22
x_offset: 0
y_offset: 0
z_offset: -0.500
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
#   Fan Control (SB2209)
#####################################################################

##  Part Cooling Fan
[fan]
pin: sb2209:gpio13
kick_start_time: 0.5
off_below: 0.10

##  Hotend Fan
[heater_fan hotend_fan]
pin: sb2209:gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

##  Controller fan (Octopus)
[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 0.5

#####################################################################
#   Homing & Leveling (300mm)
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 150,150
speed:100
z_hop:10

[quad_gantry_level]
##  Gantry Corners for 300mm Build
gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   25,25
   50,275
   275,275
   275,25
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   ADXL345 (Onboard SB2209)
#####################################################################

[adxl345]
cs_pin: sb2209:gpio1
spi_software_sclk_pin: sb2209:gpio2
spi_software_mosi_pin: sb2209:gpio0
spi_software_miso_pin: sb2209:gpio3
axes_map: z,-y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.373
#*# pid_ki = 1.419
#*# pid_kd = 273.152
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.417
#*# pid_ki = 4.698
#*# pid_kd = 55.918
